@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(217, 100%, 97%);
}

nav {
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    width: 274px;
    height: 568px; 
    background-color: hsl(217, 100%, 97%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.step {
    box-sizing: border-box;
    color: white;
    margin: 37px 0px 0px 0px; 
    padding-left: 13%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    padding: 3px;
}

.step-info {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.step-nr {
    font-weight: 400;
    font-size: 80%;
}

.step-descr {
    font-weight: 700;
    font-size: 95%;
}